::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #44077c, #8000ff);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #f9c51c, #ff5c97);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #ffd700, #ff69b4);
}

scrollbar-color: #f9c51c #44077c;
scrollbar-width: thin;
