@font-face {
  font-family: 'Baloo Tamma';
  src: url('../fonts/BalooTamma-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
}

html {
  box-sizing: border-box;
  line-height: normal;
}

:root {
  --conditions-color: #faf9f8;
  --white-color: #ffffff;
  --black-color: #000000;
}

body {
  color: var(--white-color);
  background-color: var(--black-color);
  font-family: 'Baloo Tamma';
  width: 100%;
  max-width: 1920px;

  height: auto;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  text-align: center;
}

.hero {
  height: 100%;
  position: relative;
}

/* ------- LOGO icon ------- */
.logo-icon {
  position: absolute;
}
/* ------- BUTTONS part ------- */
.link-button {
  position: absolute;
  width: clamp(55px, 10%, 180px);
  display: flex;
}

.link {
  cursor: pointer;
  border-radius: 50px;
  border-radius: clamp(30px, 5%, 69px);
}

.site-link {
  font-size: 20%;
  font-weight: 400;
  text-decoration: underline;
  text-underline-position: unset;
  color: #000;
  padding: 0.45em 1em;

  background: #17f642;
  box-shadow: 0 0 0 0 hsla(43, 100%, 53%, 1);
  transition: all 0.2s;

  margin-bottom: 12%;
}

.whatsapp-link {
  display: flex;
  align-items: center;
  justify-content: space-around;

  font-size: 18%;
  font-weight: 400;
  color: #fff;

  transition: all 0.2s;

  background: #814a94;
  box-shadow: 0 0 0 0 hsla(43, 100%, 53%, 1);
  padding: 0.38em 0.25em 0.25em 1em;
}

.whatsapp-logo {
  width: 30%;
}

.site-link:hover,
.site-link:focus,
.whatsapp-link:hover,
.whatsapp-link:focus,
.main-text__button:hover,
.main-text__button:focus {
  scale: 1.02;
  box-shadow: 0 0 0 1.5px hsla(43, 100%, 53%, 1);
}
/* ------- MAIN text part ------- */

.main-text__block {
  position: absolute;

  text-align: center;
  font-weight: 400;
  line-height: 0.85;

  text-transform: uppercase;
}

.top-text {
  color: #00ff31;
}

.bottom-text {
  color: #17f642;
}

.main-text__button {
  display: inline-block;
  cursor: pointer;
  text-transform: none;

  overflow: hidden;
  transition: background 0.5s ease, color 0.3s ease, box-shadow 0.3s ease,
    transform 0.2s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  color: inherit;

  border-radius: 1796.679px;
  background: linear-gradient(0deg, #bd00ff 0%, #bd00ff 100%),
    linear-gradient(90deg, #d9d9d9 0%, #737373 100%);
  transition: all 0.2s;
}
.rights {
  font-family: 'Montserrat';
  font-size: 12%;
  line-height: 133%;
  position: absolute;
  text-align: center;
  font-weight: 500;
  color: var(--white-color);
  letter-spacing: -0.2px;

  top: 94%;
  left: 16%;
}

/* --- Mobile --- */

@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
  @media screen and (min-width: 148px) {
    html {
      font-size: 18px;
    }
  }
  @media screen and (min-width: 180px) {
    html {
      font-size: 24px;
    }
  }
  @media screen and (min-width: 240px) {
    html {
      font-size: 30px;
    }
  }
  @media screen and (min-width: 280px) {
    html {
      font-size: 35px;
    }
  }
  @media screen and (min-width: 320px) {
    html {
      font-size: 40px;
    }
  }
  @media screen and (min-width: 340px) {
    html {
      font-size: 42px;
    }
  }
  @media screen and (min-width: 360px) {
    html {
      font-size: 46px;
    }
  }
  @media screen and (min-width: 390px) {
    html {
      font-size: 48px;
    }
  }
  @media screen and (min-width: 400px) {
    html {
      font-size: 49px;
    }
  }
  @media screen and (min-width: 420px) {
    html {
      font-size: 53px;
    }
  }
  @media screen and (min-width: 440px) {
    html {
      font-size: 55px;
    }
  }
  @media screen and (min-width: 480px) {
    html {
      font-size: 60px;
    }
  }

  /* ------- LOGO icon ------- */
  .logo-icon {
    top: 1.7%;
    left: 49.5%;
    transform: translate(-50%);
    width: 48.2%;
  }

  /* ------- BUTTONS part ------- */
  .link-button {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 5%;

    top: 9.5%;
  }
  .site-link {
    font-size: 28%;
    line-height: 2.3;
    text-align: end;
    margin-bottom: 0;
  }

  .whatsapp-link {
    font-size: 25%;
  }

  .whatsapp-logo {
    margin-left: 3%;
    width: 28.9%;
  }

  /* --- MOB-MAIN Text part ---*/

  .main-text__block {
    width: 100%;

    top: 17.8%;
  }

  .top-text {
    font-size: 184.6%;
    margin-bottom: -1.5%;
  }

  .middle-text {
    font-size: 109.58%;
    margin-bottom: 1.8%;
  }

  .bottom-text {
    font-size: 48.22%;
    margin-bottom: 5%;
  }

  .main-text__button {
    width: 85.134%;
    font-size: 67.375%;

    padding: 5.3% 0 3.3% 0;
  }

  .rights {
    display: none;
  }

  .bg-img {
    display: none;
  }

  .bg-img-mob {
    width: 100%;
  }
}

/* --- Desctop and tablets --- */

@media screen and (min-width: 481px) {
  html {
    font-size: 26px;
  }

  @media screen and (min-width: 580px) {
    html {
      font-size: 32px;
    }
  }
  @media screen and (min-width: 620px) {
    html {
      font-size: 35px;
    }
  }
  @media screen and (min-width: 780px) {
    html {
      font-size: 44px;
    }
  }
  @media screen and (min-width: 860px) {
    html {
      font-size: 48px;
    }
  }
  @media screen and (min-width: 1000px) {
    html {
      font-size: 56px;
    }
  }
  @media screen and (min-width: 1100px) {
    html {
      font-size: 62px;
    }
  }
  @media screen and (min-width: 1200px) {
    html {
      font-size: 68px;
    }
  }
  @media screen and (min-width: 1300px) {
    html {
      font-size: 73px;
    }
  }
  @media screen and (min-width: 1400px) {
    html {
      font-size: 79px;
    }
  }
  @media screen and (min-width: 1500px) {
    html {
      font-size: 85px;
    }
  }
  @media screen and (min-width: 1600px) {
    html {
      font-size: 90px;
    }
  }
  @media screen and (min-width: 1700px) {
    html {
      font-size: 95px;
    }
  }
  @media screen and (min-width: 1800px) {
    html {
      font-size: 100px;
    }
  }

  .logo-icon {
    width: 23.07%;

    top: 17.3%;
    left: 14.1%;
  }
  /* ------- BUTTONS part ------- */
  .link-button {
    flex-direction: column;
    justify-content: start;

    left: 2.5%;
    top: 5.5%;
  }

  .main-text__block {
    width: 36.3%;

    top: 35.37%;
    left: 6.5%;
  }

  .top-text {
    font-size: 180%;
    margin-bottom: -1.5%;
  }

  .middle-text {
    font-size: 106.835%;
    margin-bottom: 1.8%;
  }

  .bottom-text {
    font-size: 47%;
    margin-bottom: 5%;
  }

  .main-text__button {
    width: 84.2%;
    font-size: 57.162%;

    padding: 6% 0 5% 0;
  }

  .bg-img-mob {
    display: none;
  }
}
